h1, h2 {
	text-align: center;
}
h2 {
	padding-top: 50px;
}
.dbList {
	width: 130%;
}
.links {	
	text-decoration: none;
}
.dbList1 {
	padding-top: 80px;
	width: 150px;
	margin: auto;
}
.newDbDiv {
	width: 500px;
	padding-top: 200px;
	margin: auto;
}